
*{padding: 0; margin: 0;}
.bodyColor{
  background: black;
}
$base-color: #FFFFFF;

.marginTop{margin-top: 70px;}

.colorAssetes{
  background-color:  #6B63B5!important;
  color: $base-color;  
}

.backgrondImage {
    background: url(../images/Background.png)  no-repeat center top;
    height:100vh;
    background-size:cover;
  }

.title {
    height:80px;
    width: 225px;
    display: block;
    margin: auto;
  }
  .subTitle {   
    height: 25px;
    font-size: 36px;
    text-align: center;
    color: $base-color;
    margin: auto;
  }

  .btnStaff{
    width: 200px;
    background: rgba(0, 0, 0, 0.6)!important;
    border: solid #720ff3 1px!important;
    &:hover {
      background: rgba(107, 99, 181, 0.6)!important;
    }
    &:active {
      background:  rgba(107, 99, 181, 1)!important;
    }
  }
.deleteStyle{
      color: $base-color;
      background-color: $base-color;
      border-color: $base-color;
  }
.form-control {
    background-color: rgba(38, 50, 56, .2)!important;
}
.btnsave{
  background: rgba(0, 0, 0, 0.6)!important;
  color: $base-color!important;
  justify-content: flex-start;
}

.photo{
 justify-content: center;
  align-items: center;
  display:flex;
}
.photoDetail{
  width: 250px;
  height: 180px ;
}
.gryffindor{
  background: linear-gradient( rgba(255, 0, 0, 1),  rgba(254, 212, 130, 1))!important;
}
.slytherin{
  background: linear-gradient(rgba(28, 121, 43, 1), rgba(130, 233, 94, 1));
}
.ravenclaw{
  background: linear-gradient(rgba(5, 151, 183, 1), rgba(102, 209, 255, 1));
}
.hufflepuff{
  background: linear-gradient(rgba(255, 199, 0, 1),  rgba(255, 243, 136, 1));
}
.desconocido{
  background: #f30101;
}
ul{
  list-style: none;
}
  .tache{
    margin-left: 200px!important;
  }
.btnFavorite, .btnFavorite:hover,  .btnFavorite:active{
  background-color: transparent!important; 
  border-color: transparent!important; 

}

.life{
  color:rgba(153, 153, 153, 1);
  font-size: 10px;
}

  @media (max-width:600px)
{
  .btnStaff{width: auto;}

  .cardReponsive{
    display: none;
  }

}
